[submodule "ranexPlayer"]
	path = ranexPlayer
	url = https://github.com/sahilsinghrana/ranexPlayer.git
[submodule "ranexPlayerServer"]
	path = ranexPlayerServer
	url = https://github.com/sahilsinghrana/ranexPlayerServer.git
